# EDA

In [91]:
## import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from  scipy import stats as st
import statsmodels.formula.api as sm
import re

In [92]:
## read the csv file
df = pd.read_csv('DataAnalyst 2.csv')
df.columns = df.columns.str.replace(' ', '_')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('$', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('K', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(Glassdoor est.)', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace(')', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace(' ', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.split('-')

/Users/yamato0615/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/Users/yamato0615/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning:

The default value of regex will change from True to False in a future version.

/Users/yamato0615/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/Users/yamato0615/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [93]:
## functions
# make the salary numeric
def salary(x):
    if len(x) == 2:
        if x[0] == '':
            return int(x[1])
        else:
            ans = (int(x[0]) + int(x[1])) / 2
            return ans
    else:
        return x
# identify if the job title is for senior or not
def senior(x):
    if 'senior' in x.lower():
        return 1
    else:
        return 0

# binary for company size under 500 employees
def size(x):
    if x == '1 to 50 employees' or x == '51 to 200 employees' or x == '201 to 500 employees':
        return 0
    else:
        return 1

# binary for company revneue under 500 million USD
def rev(x):
    if x == 'Unknown / Non-Applicable' or x == '-1' or x == 'Less than $1 million (USD)' or x == '$1 to $5 million (USD)' or x == '$5 to $10 million (USD)' or x == '$10 to $25 million (USD)' or x == '$25 to $50 million (USD)' or x == '$50 to $100 million (USD)' or x == '$100 to $500 million (USD)':
        return 0
    else:
        return 1

In [94]:
# years of experience
def exper(i):
   for j in i.split('\n'):
       if re.search(r'year[a-zA-Z0-9_]* [\w|\s]*experience', j.lower().replace("'", "").replace("’", "")):
           target = r'year[a-zA-Z0-9_]* [\w|\s]*experience'
           idx = j.find(target)
           r = j[:idx]
           if 'one' in r.lower():
               return 1
           elif 'two' in r.lower():
               return 2
           elif 'three' in r.lower():
               return 3
           elif 'four' in r.lower():
               return 4
           elif 'five' in r.lower():
               return 5
           elif 'six' in r.lower():
               return 6
           elif 'seven' in r.lower():
               return 7
           elif 'eight' in r.lower():
               return 8
           elif 'nine' in r.lower():
               return 9
           elif 'ten' in r.lower():
               return 10
           else:
               for k in re.sub(r"\D", " ", r).split(' '):
                   if k.isnumeric():
                       return int(k)
                   else:
                       pass
       elif re.search(r'year[a-zA-Z0-9_]* [\w|\s]*work', j.lower().replace("'", "").replace("’", "")):
           target = r'year[a-zA-Z0-9_]* [\w|\s]*work'
           idx = j.find(target)
           r = j[:idx]
           if 'one' in r.lower():
               return 1
           elif 'two' in r.lower():
               return 2
           elif 'three' in r.lower():
               return 3
           elif 'four' in r.lower():
               return 4
           elif 'five' in r.lower():
               return 5
           elif 'six' in r.lower():
               return 6
           elif 'seven' in r.lower():
               return 7
           elif 'eight' in r.lower():
               return 8
           elif 'nine' in r.lower():
               return 9
           elif 'ten' in r.lower():
               return 10
           else:
               for k in re.sub(r"\D", " ", r).split(' '):
                   if k.isnumeric():
                       return int(k)
                   else:
                       pass
       elif re.search(r'year[a-zA-Z0-9_]* [\w|\s]*data', j.lower().replace("'", "").replace("’", "")):
           target = r'year[a-zA-Z0-9_]* [\w|\s]*data'
           idx = j.find(target)
           r = j[:idx]
           if 'one' in r.lower():
               return 1
           elif 'two' in r.lower():
               return 2
           elif 'three' in r.lower():
               return 3
           elif 'four' in r.lower():
               return 4
           elif 'five' in r.lower():
               return 5
           elif 'six' in r.lower():
               return 6
           elif 'seven' in r.lower():
               return 7
           elif 'eight' in r.lower():
               return 8
           elif 'nine' in r.lower():
               return 9
           elif 'ten' in r.lower():
               return 10
           else:
               for k in re.sub(r"\D", " ", r).split(' '):
                   if k.isnumeric():
                       return int(k)
                   else:
                       pass

In [95]:
def ye1(x):
    if x > 0:
        return 1
    else:
        return 0

def ye2(x):
    if x > 3:
        return 1
    else:
        return 0

skills = ['SQL','Python','MachineLearning',
          'SPSS','MATLAB','SAS','Spark','Hadoop',
         'MongoDB','Tableau']

def hardskills(x):
    count = 0
    for i in skills:
        i = i.lower()
        if i in x.replace("\n","").replace(" ","").lower():
            count += 1
    return count
df["skills"] = df['Job_Description'].apply(lambda x: hardskills(x))

In [96]:
df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: salary(x))
df['Senior'] = df['Job_Title'].apply(lambda x: senior(x))
df['com_size_u500'] = df['Size'].apply(lambda x: size(x))
df['com_rev_u500m'] = df['Revenue'].apply(lambda x: rev(x))
df['years_experience'] = df['Job_Description'].apply(lambda x: exper(x))
df['ye0'] = df['years_experience'].apply(lambda x: ye1(x))
df['ye3'] = df['years_experience'].apply(lambda x: ye2(x))

## clean the company_name
df['Company_Name'] = df['Company_Name'].map(lambda x:str(x).split('\n')[0])

## get the state code
df['Location_code'] = df['Location'].map(lambda x:x.split(', ')[1])

# log the salary estimate
df['log_sal'] = np.log(df.Salary_Estimate)
df.sample(3)

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,...,Easy_Apply,skills,Senior,com_size_u500,com_rev_u500m,years_experience,ye0,ye3,Location_code,log_sal
1825,1825,Federal - Data Analyst,64.5,Organization: Accenture Federal ServicesLocati...,-1.0,Accenture Contractor Jobs,"Charlotte, NC",-1,-1,-1,...,-1,0,0,1,1,30.0,1,1,NC,4.166665
979,979,Business Data Analyst,73.5,What We Are Looking For\n\nNEP is currently se...,4.6,National Education Partners,"Scottsdale, AZ","Scottsdale, AZ",201 to 500 employees,2019,...,-1,2,0,0,0,2.0,1,0,AZ,4.297285
743,743,Associate Marketing Data Analyst,63.0,Qualifications* Bachelor's degree in Accountin...,3.1,Robert Bosch Tool Corporation,"Broadview, IL","Mount Prospect, IL",1001 to 5000 employees,1971,...,-1,0,0,1,1,10.0,1,1,IL,4.143135

## Number of Jobs per State

In [97]:
## prepare the dataset for the plot
Job_Loc = df.groupby('Location_code')[['Salary_Estimate']].count()
Job_Loc = Job_Loc.rename(columns={'Salary_Estimate':'Num_Jobs'})
Job_Loc.sort_values(by='Num_Jobs',ascending=False)

               Num_Jobs
Location_code
CA                  626
TX                  394
NY                  345
IL                  164
PA                  114
AZ                   97
NC                   90
CO                   88
NJ                   86
WA                   54
VA                   48
OH                   35
UT                   33
FL                   27
IN                   23
DE                   11
Arapahoe              8
GA                    4
KS                    3
SC                    3

In [98]:
import plotly.graph_objects as go
fig = go.Figure(data=go.Choropleth( 
    locations=Job_Loc.index,
    z = Job_Loc['Num_Jobs'],
    locationmode = 'USA-states',
    colorscale = 'Reds', 
    colorbar_title = '# of jobs',
)) 
fig.update_layout( 
    title_text = '# of Data-related jobs in the US',
    geo_scope='usa'
) 
fig.show()

## Average Salary per State

In [99]:
Loc_Mean_Sal = df.groupby('Location_code')[['Salary_Estimate']].mean()
Loc_Mean_Sal = Loc_Mean_Sal.rename(columns={'Salary_Estimate':'Average_Salary'})
Loc_Mean_Sal.sort_values(by='Average_Salary',ascending=False)

               Average_Salary
Location_code
CA                  88.432109
IL                  78.310976
CO                  73.619318
NJ                  73.000000
Arapahoe            72.250000
NY                  71.411594
AZ                  70.788660
SC                  68.333333
NC                  68.111111
VA                  65.187500
WA                  63.574074
PA                  61.728070
DE                  59.727273
TX                  58.751269
FL                  51.851852
KS                  51.500000
IN                  47.500000
OH                  45.200000
GA                  44.000000
UT                  37.530303

In [100]:
fig = go.Figure(data=go.Choropleth( 
    locations=Loc_Mean_Sal.index,
    z = Loc_Mean_Sal['Average_Salary'],
    locationmode = 'USA-states',
    colorscale = 'Reds', 
    colorbar_title = 'Average Salary (K)',
)) 
fig.update_layout( 
    title_text = 'Average salary for Data-related jobs in the US',
    geo_scope='usa'
) 
fig.show()

## Looking at 3 States

### CA

In [101]:
CA = df[df['Location_code']=='CA']
CA_data_1 = CA.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()
CA_data_2 = CA.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()
CA_merge = CA_data_1.merge(CA_data_2,left_on = CA_data_1.index,right_on = CA_data_2.index)
CA_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
CA_merge.sort_values(by='Average Salary',ascending=False)

                                Sector  Count  Average Salary
19    Arts, Entertainment & Recreation      2      121.000000
10                  Accounting & Legal     12      101.708333
18        Oil, Gas, Energy & Utilities      2       95.750000
12                         Real Estate      7       94.714286
0               Information Technology    185       94.254054
3                          Health Care     37       93.756757
8            Biotech & Pharmaceuticals     16       89.718750
9                        Manufacturing     13       88.192308
1                    Business Services    120       87.004167
20          Transportation & Logistics      2       86.500000
2                                   -1    107       84.771028
6                            Education     20       83.725000
7                            Insurance     16       83.625000
4                              Finance     31       83.596774
13                          Government      7       83.571429
11                              Retail      8       79.062500
14                   Consumer Services      7       78.357143
15                 Aerospace & Defense      7       75.785714
16  Construction, Repair & Maintenance      4       75.625000
5                                Media     20       72.475000
17                          Non-Profit      3       72.333333

### NY

In [102]:
NY = df[df['Location_code']=='NY']
NY_data_1 = NY.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()
NY_data_2 = NY.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()
NY_merge = NY_data_1.merge(NY_data_2,left_on = NY_data_1.index,right_on = NY_data_2.index)
NY_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
NY_merge.sort_values(by='Average Salary',ascending=False)

                                Sector  Count  Average Salary
16        Oil, Gas, Energy & Utilities      1      104.500000
11           Biotech & Pharmaceuticals      2       88.250000
13  Construction, Repair & Maintenance      1       85.000000
1                    Business Services     74       76.195946
12    Arts, Entertainment & Recreation      2       75.750000
8                   Accounting & Legal      7       74.857143
15                       Manufacturing      1       72.000000
2                                   -1     61       71.942623
0               Information Technology     78       70.653846
10                           Education      3       70.166667
3                          Health Care     43       70.023256
14                          Government      1       69.500000
19                              Retail      1       69.000000
6                           Non-Profit     12       67.125000
4                              Finance     31       67.064516
17                         Real Estate      1       66.500000
9                    Consumer Services      3       66.333333
7                            Insurance      8       65.250000
5                                Media     14       64.428571
18   Restaurants, Bars & Food Services      1       51.500000

### TX

In [103]:
TX = df[df['Location_code']=='TX']
TX_data_1 = TX.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()
TX_data_2 = TX.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()
TX_merge = TX_data_1.merge(TX_data_2,left_on = TX_data_1.index,right_on = TX_data_2.index)
TX_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
TX_merge.sort_values(by='Average Salary',ascending=False)

                                Sector  Count  Average Salary
20                          Non-Profit      1       81.000000
9                  Aerospace & Defense      7       68.857143
19  Construction, Repair & Maintenance      2       65.500000
16                   Consumer Services      3       64.666667
12                               Media      5       63.200000
11                           Education      6       61.916667
1                    Business Services     93       60.516129
4                          Health Care     27       59.981481
0               Information Technology     99       59.247475
2                                   -1     51       57.872549
5                           Government     21       57.333333
13   Restaurants, Bars & Food Services      4       56.625000
3                              Finance     32       56.562500
17                  Telecommunications      3       56.000000
7                        Manufacturing      8       55.312500
8                            Insurance      7       54.785714
6                   Accounting & Legal      9       53.333333
14          Transportation & Logistics      4       52.875000
15        Oil, Gas, Energy & Utilities      3       51.166667
18                         Real Estate      2       50.750000
10                              Retail      6       48.500000
21    Arts, Entertainment & Recreation      1       36.000000

## Adding Dummy Variables to the DataFrame

#### Location (State) & Sector

In [104]:
df["ca"] = [1 if x == "CA" else 0 for x in df['Location_code']]
df["ny"] = [1 if x == "NY" else 0 for x in df['Location_code']]
df["tx"] = [1 if x == "TX" else 0 for x in df['Location_code']]
df["bs"] = [1 if x == "Business Services" else 0 for x in df['Sector']]

In [105]:
df['states'] = [1 if x == "TX" or x == "NY" or x == "CA" else 0 for x in df['Location_code']]
df["sec"] = [1 if x == "Business Services" or x == "Accounting & Legal" else 0 for x in df['Sector']]

In [106]:
df['Revenue_new'] = df['Revenue'].map({'$100 to $500 million (USD)':300,
                                    '$2 to $5 billion (USD)':3500,
                                    'Unknown / Non-Applicable':-1,
                                    '$50 to $100 million (USD)':75,
                                    '$1 to $2 billion (USD)':1500,
                                    '$5 to $10 billion (USD)':7500,
                                    '$1 to $5 million (USD)':3,
                                    '$25 to $50 million (USD)':37.5,
                                    '$10+ billion (USD)':10000,
                                    'Less than $1 million (USD)':1,
                                    '$10 to $25 million (USD)':17.5,
                                    '-1':-1,
                                    '$500 million to $1 billion (USD)':750,
                                    '$5 to $10 million (USD)':7.5})
# df = df[~(df['Revenue_new'] == -1)]
df['ln_revenue'] = np.log(df['Revenue_new'])
data = df[(df['Location_code'].isin(['CA','NY','TX'])) & df['Sector'].isin(['Business Services','Accounting & Legal'])]

/Users/yamato0615/anaconda3/lib/python3.7/site-packages/pandas/core/arraylike.py:364: RuntimeWarning:

invalid value encountered in log

In [107]:
data.head(2)

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,...,Location_code,log_sal,ca,ny,tx,bs,states,sec,Revenue_new,ln_revenue
9,9,"Data Analyst, Merchant Health",51.5,About Us\n\nRiskified is the AI platform power...,4.4,Riskified,"New York, NY","New York, NY",501 to 1000 employees,2013,...,NY,3.941582,0,1,0,1,1,1,-1.0,NaN
13,13,Senior Data Analyst,51.5,About Known\n\nKnown is a modern marketing com...,3.0,Known,"New York, NY","New York, NY",201 to 500 employees,2004,...,NY,3.941582,0,1,0,1,1,1,300.0,5.703782

In [108]:
df.describe()

,Unnamed:_0,Salary_Estimate,Rating,Founded,skills,Senior,com_size_u500,com_rev_u500m,years_experience,ye0,ye3,log_sal,ca,ny,tx,bs,states,sec,Revenue_new,ln_revenue
count,2253.0000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,1528.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,1475.000000
mean,1126.0000,72.091434,3.160630,1398.522858,2.025743,0.126498,0.548602,0.584998,18.185209,0.667998,0.272526,4.225130,0.277852,0.153129,0.174878,0.232579,0.605859,0.251664,1348.512206,5.151510
std,650.5294,23.643023,1.665228,901.929251,1.408000,0.332484,0.497743,0.492832,491.143680,0.471036,0.445358,0.333211,0.448039,0.360192,0.379947,0.422570,0.488774,0.434066,2964.737312,2.830330
min,0.0000,1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,563.0000,58.000000,3.100000,-1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,4.060443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,2.862201
50%,1126.0000,69.000000,3.600000,1979.000000,2.000000,0.000000,1.000000,1.000000,3.000000,1.000000,0.000000,4.234107,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,17.500000,5.703782
75%,1689.0000,80.500000,4.000000,2002.000000,3.000000,0.000000,1.000000,1.000000,5.000000,1.000000,1.000000,4.388257,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,300.000000,8.160518
max,2252.0000,150.000000,5.000000,2019.000000,8.000000,1.000000,1.000000,1.000000,19103.000000,1.000000,1.000000,5.010635,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10000.000000,9.210340

In [109]:
data.head(3)

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,...,Location_code,log_sal,ca,ny,tx,bs,states,sec,Revenue_new,ln_revenue
9,9,"Data Analyst, Merchant Health",51.5,About Us\n\nRiskified is the AI platform power...,4.4,Riskified,"New York, NY","New York, NY",501 to 1000 employees,2013,...,NY,3.941582,0,1,0,1,1,1,-1.0,NaN
13,13,Senior Data Analyst,51.5,About Known\n\nKnown is a modern marketing com...,3.0,Known,"New York, NY","New York, NY",201 to 500 employees,2004,...,NY,3.941582,0,1,0,1,1,1,300.0,5.703782
15,15,Sustainability Data Analyst,51.5,Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions,"New York, NY","New York, NY",1 to 50 employees,-1,...,NY,3.941582,0,1,0,1,1,1,-1.0,NaN

## Regression

In [110]:
df.columns

Index(['Unnamed:_0', 'Job_Title', 'Salary_Estimate', 'Job_Description',
       'Rating', 'Company_Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy_Apply', 'skills', 'Senior', 'com_size_u500', 'com_rev_u500m',
       'years_experience', 'ye0', 'ye3', 'Location_code', 'log_sal', 'ca',
       'ny', 'tx', 'bs', 'states', 'sec', 'Revenue_new', 'ln_revenue'],
      dtype='object')

In [111]:
result = sm.ols(formula="log_sal ~ com_size_u500+com_rev_u500m+ye0+skills", 
                data=df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.6010
Date:                Sat, 11 Dec 2021   Prob (F-statistic):              0.662
Time:                        12:25:19   Log-Likelihood:                -719.16
No. Observations:                2253   AIC:                             1448.
Df Residuals:                    2248   BIC:                             1477.
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.2206      0.017    244.822      0.000       4.187       4.254
com_size_u500    -0.0112      0.015     -0.726      0.468      -0.042       0.019
com_rev_u500m     0.0237      0.016      1.520      0.129      -0.007       0.054
ye0               0.0001      0.015      0.008      0.994      -0.030       0.030
skills           -0.0016      0.005     -0.317      0.751      -0.012       0.008
==============================================================================
Omnibus:                      654.309   Durbin-Watson:                   0.187
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11499.854
Skew:                          -0.904   Prob(JB):                         0.00
Kurtosis:                      13.919   Cond. No.                         7.99
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [112]:
result = sm.ols(formula="log_sal ~ com_size_u500+com_rev_u500m+ye0+skills+states+sec", 
                data=df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     8.854
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           1.45e-09
Time:                        12:25:19   Log-Likelihood:                -694.03
No. Observations:                2253   AIC:                             1402.
Df Residuals:                    2246   BIC:                             1442.
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.1572      0.020    203.608      0.000       4.117       4.197
com_size_u500    -0.0041      0.015     -0.266      0.790      -0.034       0.026
com_rev_u500m     0.0195      0.016      1.247      0.213      -0.011       0.050
ye0               0.0006      0.015      0.042      0.967      -0.029       0.030
skills           -0.0035      0.005     -0.691      0.489      -0.013       0.006
states            0.1014      0.014      7.093      0.000       0.073       0.129
sec               0.0158      0.017      0.954      0.340      -0.017       0.048
==============================================================================
Omnibus:                      694.621   Durbin-Watson:                   0.196
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11477.482
Skew:                          -1.007   Prob(JB):                         0.00
Kurtosis:                      13.872   Cond. No.                         9.97
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [113]:
result = sm.ols(formula="log_sal ~ com_rev_u500m+ye0+skills+states+sec", 
                data=df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     10.61
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           4.28e-10
Time:                        12:25:19   Log-Likelihood:                -694.07
No. Observations:                2253   AIC:                             1400.
Df Residuals:                    2247   BIC:                             1434.
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.1557      0.020    211.268      0.000       4.117       4.194
com_rev_u500m     0.0179      0.014      1.239      0.216      -0.010       0.046
ye0               0.0003      0.015      0.023      0.981      -0.029       0.030
skills           -0.0034      0.005     -0.683      0.494      -0.013       0.006
states            0.1017      0.014      7.122      0.000       0.074       0.130
sec               0.0162      0.016      0.983      0.326      -0.016       0.049
==============================================================================
Omnibus:                      694.409   Durbin-Watson:                   0.196
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11449.853
Skew:                          -1.008   Prob(JB):                         0.00
Kurtosis:                      13.859   Cond. No.                         9.64
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [114]:
result = sm.ols(formula="log_sal ~ ln_revenue+ye0+skills+states+sec", 
                data=df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     7.572
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           4.94e-07
Time:                        12:25:19   Log-Likelihood:                -481.70
No. Observations:                1475   AIC:                             975.4
Df Residuals:                    1469   BIC:                             1007.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.1592      0.028    150.718      0.000       4.105       4.213
ln_revenue    -0.0006      0.003     -0.185      0.854      -0.007       0.006
ye0           -0.0015      0.019     -0.083      0.934      -0.038       0.035
skills        -0.0047      0.006     -0.742      0.458      -0.017       0.008
states         0.1072      0.018      6.039      0.000       0.072       0.142
sec            0.0209      0.020      1.061      0.289      -0.018       0.059
==============================================================================
Omnibus:                      620.220   Durbin-Watson:                   0.282
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15148.673
Skew:                          -1.398   Prob(JB):                         0.00
Kurtosis:                      18.449   Cond. No.                         22.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [115]:
result = sm.ols(formula="log_sal ~ com_rev_u500m+ye3+skills+states+sec", 
                data=df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     10.70
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           3.53e-10
Time:                        12:25:19   Log-Likelihood:                -693.87
No. Observations:                2253   AIC:                             1400.
Df Residuals:                    2247   BIC:                             1434.
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.1581      0.018    227.130      0.000       4.122       4.194
com_rev_u500m     0.0181      0.014      1.251      0.211      -0.010       0.046
ye3              -0.0100      0.016     -0.637      0.524      -0.041       0.021
skills           -0.0032      0.005     -0.639      0.523      -0.013       0.007
states            0.1015      0.014      7.112      0.000       0.074       0.130
sec               0.0164      0.016      0.996      0.319      -0.016       0.049
==============================================================================
Omnibus:                      691.160   Durbin-Watson:                   0.196
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11295.114
Skew:                          -1.003   Prob(JB):                         0.00
Kurtosis:                      13.784   Cond. No.                         9.02
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [116]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.241
Method:                 Least Squares   F-statistic:                     20.99
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           4.57e-18
Time:                        12:25:20   Log-Likelihood:                -63.086
No. Observations:                 315   AIC:                             138.2
Df Residuals:                     309   BIC:                             160.7
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.9192      0.099     39.392      0.000       3.723       4.115
ny             0.3918      0.150      2.605      0.010       0.096       0.688
bs             0.1351      0.104      1.297      0.196      -0.070       0.340
ny:bs         -0.1428      0.157     -0.907      0.365      -0.453       0.167
ca             0.6736      0.132      5.118      0.000       0.415       0.933
ca:bs         -0.3114      0.138     -2.258      0.025      -0.583      -0.040
==============================================================================
Omnibus:                        4.519   Durbin-Watson:                   0.314
Prob(Omnibus):                  0.104   Jarque-Bera (JB):                3.265
Skew:                          -0.100   Prob(JB):                        0.195
Kurtosis:                       2.543   Cond. No.                         25.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [117]:
result = sm.ols(formula="log_sal ~ tx*bs+ca*bs", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.241
Method:                 Least Squares   F-statistic:                     20.99
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           4.57e-18
Time:                        12:25:20   Log-Likelihood:                -63.086
No. Observations:                 315   AIC:                             138.2
Df Residuals:                     309   BIC:                             160.7
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.3110      0.113     38.213      0.000       4.089       4.533
tx            -0.3918      0.150     -2.605      0.010      -0.688      -0.096
bs            -0.0077      0.118     -0.065      0.948      -0.240       0.225
tx:bs          0.1428      0.157      0.907      0.365      -0.167       0.453
ca             0.2818      0.142      1.985      0.048       0.003       0.561
ca:bs         -0.1686      0.149     -1.134      0.257      -0.461       0.124
==============================================================================
Omnibus:                        4.519   Durbin-Watson:                   0.314
Prob(Omnibus):                  0.104   Jarque-Bera (JB):                3.265
Skew:                          -0.100   Prob(JB):                        0.195
Kurtosis:                       2.543   Cond. No.                         28.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [118]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_size_u500+com_rev_u500m", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     14.91
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           9.54e-17
Time:                        12:25:20   Log-Likelihood:                -63.059
No. Observations:                 315   AIC:                             142.1
Df Residuals:                     307   BIC:                             172.1
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         3.9198      0.100     39.148      0.000       3.723       4.117
ny                0.3890      0.151      2.569      0.011       0.091       0.687
bs                0.1346      0.105      1.279      0.202      -0.072       0.342
ny:bs            -0.1412      0.158     -0.892      0.373      -0.453       0.170
ca                0.6724      0.132      5.087      0.000       0.412       0.932
ca:bs            -0.3105      0.138     -2.243      0.026      -0.583      -0.038
com_size_u500    -0.0061      0.037     -0.166      0.868      -0.079       0.067
com_rev_u500m     0.0072      0.037      0.198      0.843      -0.065       0.079
==============================================================================
Omnibus:                        4.331   Durbin-Watson:                   0.313
Prob(Omnibus):                  0.115   Jarque-Bera (JB):                3.157
Skew:                          -0.097   Prob(JB):                        0.206
Kurtosis:                       2.550   Cond. No.                         27.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [119]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_size_u500+com_rev_u500m+ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     13.04
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           3.47e-16
Time:                        12:25:20   Log-Likelihood:                -62.943
No. Observations:                 315   AIC:                             143.9
Df Residuals:                     306   BIC:                             177.7
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         3.9088      0.103     37.997      0.000       3.706       4.111
ny                0.3904      0.152      2.574      0.011       0.092       0.689
bs                0.1355      0.105      1.286      0.200      -0.072       0.343
ny:bs            -0.1422      0.158     -0.898      0.370      -0.454       0.170
ca                0.6751      0.132      5.096      0.000       0.414       0.936
ca:bs            -0.3130      0.139     -2.257      0.025      -0.586      -0.040
com_size_u500    -0.0062      0.037     -0.168      0.867      -0.079       0.067
com_rev_u500m     0.0079      0.037      0.216      0.829      -0.064       0.080
ye0               0.0164      0.034      0.476      0.635      -0.051       0.084
==============================================================================
Omnibus:                        4.471   Durbin-Watson:                   0.314
Prob(Omnibus):                  0.107   Jarque-Bera (JB):                3.246
Skew:                          -0.101   Prob(JB):                        0.197
Kurtosis:                       2.546   Cond. No.                         29.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [120]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m+ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     14.95
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           8.68e-17
Time:                        12:25:20   Log-Likelihood:                -62.957
No. Observations:                 315   AIC:                             141.9
Df Residuals:                     307   BIC:                             171.9
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         3.9076      0.102     38.131      0.000       3.706       4.109
ny                0.3915      0.151      2.588      0.010       0.094       0.689
bs                0.1344      0.105      1.280      0.202      -0.072       0.341
ny:bs            -0.1422      0.158     -0.899      0.369      -0.454       0.169
ca                0.6760      0.132      5.117      0.000       0.416       0.936
ca:bs            -0.3137      0.138     -2.267      0.024      -0.586      -0.041
com_rev_u500m     0.0060      0.035      0.173      0.863      -0.062       0.074
ye0               0.0163      0.034      0.476      0.635      -0.051       0.084
==============================================================================
Omnibus:                        4.543   Durbin-Watson:                   0.314
Prob(Omnibus):                  0.103   Jarque-Bera (JB):                3.287
Skew:                          -0.102   Prob(JB):                        0.193
Kurtosis:                       2.543   Cond. No.                         28.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [121]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m*ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     13.04
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           3.50e-16
Time:                        12:25:20   Log-Likelihood:                -62.952
No. Observations:                 315   AIC:                             143.9
Df Residuals:                     306   BIC:                             177.7
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.9092      0.104     37.616      0.000       3.705       4.114
ny                    0.3903      0.152      2.568      0.011       0.091       0.689
bs                    0.1344      0.105      1.278      0.202      -0.073       0.341
ny:bs                -0.1407      0.159     -0.884      0.377      -0.454       0.173
ca                    0.6754      0.132      5.097      0.000       0.415       0.936
ca:bs                -0.3128      0.139     -2.250      0.025      -0.586      -0.039
com_rev_u500m         0.0020      0.054      0.036      0.971      -0.105       0.109
ye0                   0.0135      0.045      0.299      0.765      -0.075       0.102
com_rev_u500m:ye0     0.0069      0.071      0.097      0.923      -0.133       0.147
==============================================================================
Omnibus:                        4.502   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.105   Jarque-Bera (JB):                3.270
Skew:                          -0.103   Prob(JB):                        0.195
Kurtosis:                       2.545   Cond. No.                         28.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [122]:
result = sm.ols(formula="log_sal ~ tx*bs+ca*bs+com_rev_u500m+ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     14.95
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           8.68e-17
Time:                        12:25:20   Log-Likelihood:                -62.957
No. Observations:                 315   AIC:                             141.9
Df Residuals:                     307   BIC:                             171.9
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.2991      0.116     37.096      0.000       4.071       4.527
tx               -0.3915      0.151     -2.588      0.010      -0.689      -0.094
bs               -0.0079      0.118     -0.066      0.947      -0.241       0.225
tx:bs             0.1422      0.158      0.899      0.369      -0.169       0.454
ca                0.2846      0.143      1.995      0.047       0.004       0.565
ca:bs            -0.1715      0.149     -1.148      0.252      -0.465       0.122
com_rev_u500m     0.0060      0.035      0.173      0.863      -0.062       0.074
ye0               0.0163      0.034      0.476      0.635      -0.051       0.084
==============================================================================
Omnibus:                        4.543   Durbin-Watson:                   0.314
Prob(Omnibus):                  0.103   Jarque-Bera (JB):                3.287
Skew:                          -0.102   Prob(JB):                        0.193
Kurtosis:                       2.543   Cond. No.                         31.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [123]:
result = sm.ols(formula="log_sal ~ tx*bs+ca*bs+com_rev_u500m*ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     13.04
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           3.50e-16
Time:                        12:25:20   Log-Likelihood:                -62.952
No. Observations:                 315   AIC:                             143.9
Df Residuals:                     306   BIC:                             177.7
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             4.2995      0.116     37.015      0.000       4.071       4.528
tx                   -0.3903      0.152     -2.568      0.011      -0.689      -0.091
bs                   -0.0063      0.120     -0.053      0.958      -0.242       0.229
tx:bs                 0.1407      0.159      0.884      0.377      -0.173       0.454
ca                    0.2851      0.143      1.994      0.047       0.004       0.567
ca:bs                -0.1721      0.150     -1.149      0.251      -0.467       0.123
com_rev_u500m         0.0020      0.054      0.036      0.971      -0.105       0.109
ye0                   0.0135      0.045      0.299      0.765      -0.075       0.102
com_rev_u500m:ye0     0.0069      0.071      0.097      0.923      -0.133       0.147
==============================================================================
Omnibus:                        4.502   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.105   Jarque-Bera (JB):                3.270
Skew:                          -0.103   Prob(JB):                        0.195
Kurtosis:                       2.545   Cond. No.                         31.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [124]:
df.columns

Index(['Unnamed:_0', 'Job_Title', 'Salary_Estimate', 'Job_Description',
       'Rating', 'Company_Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy_Apply', 'skills', 'Senior', 'com_size_u500', 'com_rev_u500m',
       'years_experience', 'ye0', 'ye3', 'Location_code', 'log_sal', 'ca',
       'ny', 'tx', 'bs', 'states', 'sec', 'Revenue_new', 'ln_revenue'],
      dtype='object')

In [125]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+ln_revenue+ye0", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.263
Method:                 Least Squares   F-statistic:                     13.21
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           2.57e-14
Time:                        12:25:20   Log-Likelihood:                -47.316
No. Observations:                 241   AIC:                             110.6
Df Residuals:                     233   BIC:                             138.5
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.9082      0.104     37.555      0.000       3.703       4.113
ny             0.4113      0.167      2.457      0.015       0.082       0.741
bs             0.1522      0.109      1.401      0.163      -0.062       0.366
ny:bs         -0.1783      0.176     -1.010      0.313      -0.526       0.169
ca             0.6588      0.135      4.885      0.000       0.393       0.925
ca:bs         -0.2743      0.143     -1.920      0.056      -0.556       0.007
ln_revenue    -0.0041      0.008     -0.507      0.612      -0.020       0.012
ye0            0.0267      0.039      0.679      0.498      -0.051       0.104
==============================================================================
Omnibus:                        3.950   Durbin-Watson:                   0.395
Prob(Omnibus):                  0.139   Jarque-Bera (JB):                2.843
Skew:                          -0.109   Prob(JB):                        0.241
Kurtosis:                       2.514   Cond. No.                         76.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [126]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m*ye3", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.236
Method:                 Least Squares   F-statistic:                     13.12
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           2.77e-16
Time:                        12:25:20   Log-Likelihood:                -62.699
No. Observations:                 315   AIC:                             143.4
Df Residuals:                     306   BIC:                             177.2
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.9156      0.103     38.107      0.000       3.713       4.118
ny                    0.3895      0.152      2.566      0.011       0.091       0.688
bs                    0.1357      0.106      1.283      0.201      -0.072       0.344
ny:bs                -0.1422      0.159     -0.897      0.371      -0.454       0.170
ca                    0.6675      0.133      5.029      0.000       0.406       0.929
ca:bs                -0.3075      0.139     -2.208      0.028      -0.582      -0.033
com_rev_u500m        -0.0061      0.041     -0.149      0.882      -0.086       0.074
ye3                   0.0095      0.050      0.190      0.850      -0.090       0.109
com_rev_u500m:ye3     0.0402      0.078      0.513      0.608      -0.114       0.194
==============================================================================
Omnibus:                        3.609   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.165   Jarque-Bera (JB):                2.902
Skew:                          -0.119   Prob(JB):                        0.234
Kurtosis:                       2.595   Cond. No.                         27.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [127]:
result = sm.ols(formula="log_sal ~ tx*bs+ca*bs+com_rev_u500m*ye3", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.236
Method:                 Least Squares   F-statistic:                     13.12
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           2.77e-16
Time:                        12:25:20   Log-Likelihood:                -62.699
No. Observations:                 315   AIC:                             143.4
Df Residuals:                     306   BIC:                             177.2
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             4.3051      0.115     37.462      0.000       4.079       4.531
tx                   -0.3895      0.152     -2.566      0.011      -0.688      -0.091
bs                   -0.0065      0.119     -0.055      0.956      -0.240       0.227
tx:bs                 0.1422      0.159      0.897      0.371      -0.170       0.454
ca                    0.2780      0.143      1.946      0.053      -0.003       0.559
ca:bs                -0.1653      0.150     -1.104      0.270      -0.460       0.129
com_rev_u500m        -0.0061      0.041     -0.149      0.882      -0.086       0.074
ye3                   0.0095      0.050      0.190      0.850      -0.090       0.109
com_rev_u500m:ye3     0.0402      0.078      0.513      0.608      -0.114       0.194
==============================================================================
Omnibus:                        3.609   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.165   Jarque-Bera (JB):                2.902
Skew:                          -0.119   Prob(JB):                        0.234
Kurtosis:                       2.595   Cond. No.                         29.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [128]:
data.columns

Index(['Unnamed:_0', 'Job_Title', 'Salary_Estimate', 'Job_Description',
       'Rating', 'Company_Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy_Apply', 'skills', 'Senior', 'com_size_u500', 'com_rev_u500m',
       'years_experience', 'ye0', 'ye3', 'Location_code', 'log_sal', 'ca',
       'ny', 'tx', 'bs', 'states', 'sec', 'Revenue_new', 'ln_revenue'],
      dtype='object')

In [129]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m+years_experience", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.207
Model:                            OLS   Adj. R-squared:                  0.177
Method:                 Least Squares   F-statistic:                     6.884
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           2.81e-07
Time:                        12:25:21   Log-Likelihood:                -40.944
No. Observations:                 193   AIC:                             97.89
Df Residuals:                     185   BIC:                             124.0
Df Model:                           7
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            4.1429      0.125     33.063      0.000       3.896       4.390
ny                   0.1456      0.199      0.732      0.465      -0.247       0.538
bs                  -0.0164      0.132     -0.124      0.901      -0.277       0.244
ny:bs                0.0529      0.209      0.253      0.800      -0.359       0.465
ca                   0.4686      0.165      2.839      0.005       0.143       0.794
ca:bs               -0.1626      0.174     -0.936      0.351      -0.505       0.180
com_rev_u500m       -0.0109      0.046     -0.238      0.812      -0.101       0.080
years_experience    -0.0047      0.002     -2.047      0.042      -0.009      -0.000
==============================================================================
Omnibus:                        1.842   Durbin-Watson:                   0.519
Prob(Omnibus):                  0.398   Jarque-Bera (JB):                1.561
Skew:                          -0.070   Prob(JB):                        0.458
Kurtosis:                       2.582   Cond. No.                         172.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [130]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m*ye3+skills", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.257
Model:                            OLS   Adj. R-squared:                  0.236
Method:                 Least Squares   F-statistic:                     11.75
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           7.05e-16
Time:                        12:25:21   Log-Likelihood:                -62.261
No. Observations:                 315   AIC:                             144.5
Df Residuals:                     305   BIC:                             182.0
Df Model:                           9
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.9248      0.103     38.009      0.000       3.722       4.128
ny                    0.3927      0.152      2.585      0.010       0.094       0.692
bs                    0.1457      0.106      1.370      0.172      -0.064       0.355
ny:bs                -0.1412      0.159     -0.891      0.374      -0.453       0.171
ca                    0.6703      0.133      5.048      0.000       0.409       0.932
ca:bs                -0.3123      0.139     -2.240      0.026      -0.587      -0.038
com_rev_u500m        -0.0067      0.041     -0.165      0.869      -0.087       0.073
ye3                   0.0139      0.051      0.275      0.783      -0.086       0.114
com_rev_u500m:ye3     0.0465      0.079      0.592      0.554      -0.108       0.201
skills               -0.0111      0.012     -0.922      0.357      -0.035       0.013
==============================================================================
Omnibus:                        3.947   Durbin-Watson:                   0.309
Prob(Omnibus):                  0.139   Jarque-Bera (JB):                3.101
Skew:                          -0.122   Prob(JB):                        0.212
Kurtosis:                       2.580   Cond. No.                         45.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [131]:
result = sm.ols(formula="log_sal ~ ny*bs+ca*bs+com_rev_u500m*ye3+skills+Senior", 
                data=data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                log_sal   R-squared:                       0.259
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     10.64
Date:                Sat, 11 Dec 2021   Prob (F-statistic):           1.79e-15
Time:                        12:25:21   Log-Likelihood:                -61.882
No. Observations:                 315   AIC:                             145.8
Df Residuals:                     304   BIC:                             187.0
Df Model:                          10
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.9213      0.103     37.929      0.000       3.718       4.125
ny                    0.3925      0.152      2.583      0.010       0.093       0.691
bs                    0.1487      0.106      1.396      0.164      -0.061       0.358
ny:bs                -0.1382      0.159     -0.871      0.385      -0.451       0.174
ca                    0.6692      0.133      5.037      0.000       0.408       0.931
ca:bs                -0.3101      0.139     -2.223      0.027      -0.585      -0.036
com_rev_u500m        -0.0079      0.041     -0.193      0.847      -0.088       0.072
ye3                   0.0174      0.051      0.342      0.733      -0.083       0.117
com_rev_u500m:ye3     0.0502      0.079      0.638      0.524      -0.105       0.205
skills               -0.0090      0.012     -0.733      0.464      -0.033       0.015
Senior               -0.0517      0.060     -0.855      0.393      -0.171       0.067
==============================================================================
Omnibus:                        4.247   Durbin-Watson:                   0.312
Prob(Omnibus):                  0.120   Jarque-Bera (JB):                3.226
Skew:                          -0.118   Prob(JB):                        0.199
Kurtosis:                       2.563   Cond. No.                         45.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## T-Test

In [132]:
def state(x, y):
   ca = df[df['Location'].str.contains(x)]
   mean = ca[ca['Sector'] != y]['Salary_Estimate'].mean()
   ca_mean = ca.groupby('Sector').Salary_Estimate.mean().to_frame()
   ca_std = ca.groupby('Sector').Salary_Estimate.std().to_frame()
   ca_cnt = ca.groupby('Sector').Salary_Estimate.count().to_frame()
   ca1 = ca_mean.merge(ca_std, left_on = 'Sector', right_on = 'Sector', how = 'inner')
   ca_merge = ca1.merge(ca_cnt, left_on = 'Sector', right_on = 'Sector', how = 'inner')
   ca_merge = ca_merge.rename(columns={"Salary_Estimate_x": "Salary_Estimate", "Salary_Estimate_y": "std", "Salary_Estimate": "count"})
   ca_merge = ca_merge[(ca_merge['count'] >= 10) & (ca_merge.index != '-1')].sort_values(by = 'Salary_Estimate', ascending = False)
   ca_sector = ca[ca['Sector'] == y]['Salary_Estimate'].to_numpy()
   ans = st.ttest_1samp(a=ca_sector, popmean=mean, alternative  = 'greater')
   return ca_merge, ans

In [133]:
ca = state('CA', 'Accounting & Legal')
ca

(                           Salary_Estimate        std  count
 Sector
 Accounting & Legal              101.708333  25.814424     12
 Information Technology           94.254054  28.139217    185
 Health Care                      93.756757  30.946105     37
 Biotech & Pharmaceuticals        89.718750  15.331850     16
 Manufacturing                    88.192308  31.665267     13
 Business Services                87.004167  27.625610    120
 Education                        83.725000  17.321629     20
 Insurance                        83.625000  31.796488     16
 Finance                          83.596774  32.219409     31
 Media                            72.475000  24.392339     20,
 Ttest_1sampResult(statistic=1.8163885099143071, pvalue=0.04831674784576253))

In [134]:
ny = state('NY', 'Business Services')
ny

(                        Salary_Estimate        std  count
 Sector
 Business Services             76.195946  18.766558     74
 Information Technology        70.653846  18.371051     78
 Health Care                   70.023256  19.892255     43
 Non-Profit                    67.125000  11.874581     12
 Finance                       67.064516  18.710844     31
 Media                         64.428571  13.660523     14,
 Ttest_1sampResult(statistic=2.791927590550793, pvalue=0.0033419443850134078))

In [135]:
tx = state('TX', 'Business Services')
tx

(                        Salary_Estimate        std  count
 Sector
 Business Services             60.516129  18.797469     93
 Health Care                   59.981481  22.568052     27
 Information Technology        59.247475  16.395988     99
 Government                    57.333333  17.745657     21
 Finance                       56.562500  18.287908     32,
 Ttest_1sampResult(statistic=1.1851739017195195, pvalue=0.11950053653331161))